.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    width: 80%;
    background: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}