* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 300px;
    height: 300px;
}

.slide_wrapper {
    position: relative;
    width: 960px;
    margin: 0 auto;
    height: 300px;
    overflow: hidden;
}

.slides {
    // width: 2610px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .3s ease-out;
}
.slides li:not(:last-child){
    float: left;
    margin-right: 30px;
}

.controls {
    text-align: center;
    margin-top: 50px;
}

.controls a {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 10px;
    opacity: 0.6;
    transition: opacity .6s;
}

.controls a:hover {
    opacity: 1;
}